<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!--Header-->
<header id="main-header" class="py-2 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="font-style: italic">
        <h1>
          <i class="fa fa-book text-dark"></i> Dictionary
        </h1>
      </div>
    </div>
  </div>
</header>

<!--Actions-->
<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-md">
        <a class="btn btn-success btn-danger" routerLink="/test">
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
          CHALLENGE
          <i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i>
        </a>
      </div>
      <div class="col-md offset-2">
        <a class="btn btn-success btn-dark text-white">
          <i class="fa fa-spinner text-white"></i>
          GENERATE WORDS
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-9">
            <div class="row justify-content-between">
              <div class="col-5">
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         placeholder="search"
                         aria-label=""
                         aria-describedby="basic-addon1"
                         [(ngModel)]="filters.keyword"
                         name="keyword"
                         (input)="showListOfWords()">
                  <div class="input-group-prepend">
                    <button
                      class="ml-1 btn btn-dark"
                      type="button"
                      (click)="onCleanFilter()">Clean
                    </button>
                  </div>
                </div>
              </div>
              <div>
                <pagination-controls id="listing_pagination" maxSize="5"
                                         directionLinks="true"
                                         (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
            <table class="dictionary table table-striped" style="background-color: antiquewhite">
              <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Word</th>
                <th>Translation</th>
                <th>
                  <a
                    class="btn btn-success float-right"
                    data-toggle="modal"
                    data-target="#add-word"
                    (click)="onInitFormToAddWord()">
                    <i class="fa fa-plus-square"></i> New Word
                  </a>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let word of listOfAllWords | paginate:{ id: 'listing_pagination',
                    itemsPerPage: 10,
                    currentPage: page,
                    totalItems: totalRecords }">
                <th scope="row">{{listOfAllWords.indexOf(word) + 1}}</th>
                <td>{{word.word}}</td>
                <td>{{word.translation}}</td>
                <td class="float-right">
                  <a class="mr-1 btn btn-primary text-white"
                     data-toggle="modal"
                     data-target="#edit-word"
                     (click)="onInitEditForm(word)">
                    <i class="fa fa-pencil"></i> Edit
                  </a>
                  <a
                    class="btn btn-danger text-white"
                    (click)="onDeleteWord(word.id)">
                    <i class="fa fa-trash"></i> Delete
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-3">
            <div class="card text-center bg-warning text-dark mb-3">
              <div class="card-body">
                <h3>TOP 20</h3>
                <h4 class="display-4">
                  <i class="fa fa-trophy"></i>
                </h4>
                <a
                  class="btn btn-outline-light btn-sm"
                  (click)="onShowRanking()"
                  data-toggle="modal"
                  data-target="#ranking">View</a>
              </div>
            </div>
            <div class="card text-center bg-success text-white mb-3">
              <div class="card-body">
                <h3>Users</h3>
                <h4 class="display-4">
                  <i class="fa fa-users"></i> 6
                </h4>
                <a href="" class="btn btn-outline-light btn-sm">View</a>
              </div>
            </div>
            <div class="card text-center bg-primary text-white mb-3">
              <div class="card-body">
                <h3>Posts</h3>
                <h4 class="display-4">
                  <i class="fa fa-heart"></i> 6
                </h4>
                <a href="" class="btn btn-outline-light btn-sm">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Modals-->

<!--Edit-->
<div class="modal fade" id="edit-word">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title"><i class="fa fa-pencil"></i></h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form *ngIf="dictionaryEditWordForm" [formGroup]="dictionaryEditWordForm">
          <div class="container">
            <div class="row form-group=">
              <div class="col-6">
                <label class="form-control-plaintext">Word</label>
                <input class="form-control" type="text" placeholder="" formControlName="word">
              </div>
              <div class="col-6">
                <label class="form-control-plaintext">Translation</label>
                <input class="form-control" type="text" placeholder="" formControlName="translation">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="submit" (click)="onEditWord()" data-dismiss="modal">Edit</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Ranking-->
<div class="modal fade" id="ranking">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title text-dark">
          <i class="fa fa-trophy"></i> Ranking
        </h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <table class="rank table table-active bg-light">
          <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>User</th>
            <th>Correct Answers</th>
            <th>Time</th>
          </tr>
          </thead>
          <tbody *ngFor="let item of ranking; let i = index">
          <tr *ngIf="i+1 < 21">
            <td>{{i + 1}}</td>
            <td>User{{1 + 1}}</td>
            <td style="text-align: center">{{item.correctAnswer}}</td>
            <td>{{item.time}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning text-dark" type="submit" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!--New Word-->
<div class="modal fade" id="add-word">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title"><i class="fa fa-plus"></i></h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form *ngIf="dictionaryAddWordForm" [formGroup]="dictionaryAddWordForm">
          <div class="row">
            <div class="col-6">
              <label class="form-control-plaintext">New Word</label>
            </div>
            <div class="col-6">
              <label class="form-control-plaintext">Translation</label>
            </div>
          </div>
          <div formArrayName="newWord">
            <div
              id="new_row"
              class="row form-group"
              *ngFor="let word of controls.controls; let i = index"
              [formGroupName]="i">
              <div class="col-5">
                <input class="form-control" type="text" placeholder="" formControlName="word">
              </div>
              <div class="col-5">
                <input class="form-control" type="text" placeholder="" formControlName="translation">
              </div>
              <div class="col-xs-2">
                <button
                  type="button"
                  class="btn btn-danger" (click)="onAddLessWords(i)">X</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <a
          class="btn btn-primary text-white float-right"
          (click)="onAddMoreWords()"
          data-toggle="show"
          data-target="#new_row">More</a>
        <button class="btn btn-success" type="submit" (click)="onAddWord()" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>







