<header id="main-header" class="py-2 bg-danger text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="font-style: italic">
        <h1>
          <i class="fa fa-star text-warning"></i> Challenge
        </h1>
      </div>
    </div>
  </div>
</header>

<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="btn btn-dark"
           routerLink="/dictionary">
          <i class="fa fa-long-arrow-left"></i> Back
        </a>
      </div>
      <div class="col-md-3 invisible">
        <a class="btn btn-primary" (click)="print()">1</a>
        <button class="btn btn-primary" data-toggle="modal" data-target="#test_result" id="test1"></button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row justify-content-center">
    <div class="col-7">
      <div class="card bg-light">
        <div class="card-body">
          <div class="mt-5 d-flex justify-content-center align-self-end" *ngIf="!isBottomStartClicked"
               (click)="onStartStopWatch(); onStartTest()">
            <button class="start btn btn-danger">
              <h2>
                <dt>START</dt>
              </h2>
            </button>
          </div>
          <div class="mt-5 d-flex justify-content-center align-self-end" *ngIf="!isBottomStartClicked">
            <span>
              <h3>
                <i class="fa fa-info-circle"></i>
                  Instruction
              </h3>
              <hr>
              <h4>
                <p>
                  <i class="fa fa-lightbulb-o"></i>
                <span>To give an answer click on the 1 from 3 options.</span>
                </p>
                <p>
                  <i class="fa fa-lightbulb-o"></i>
                <span>The most important are both correct answers and your time.</span>
                </p>
              </h4>
            </span>
          </div>
          <div class="background" *ngIf="isBottomStartClicked">
            <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                <span class="display-4">{{this.numberOfQuestion}}/{{this.fullListOfWordsTest.length}}</span>
              </div>
              <div>
                <div class="d-flex display-4">
                  <span *ngIf="hour>0" class="large">{{hour}}</span>
                  <span *ngIf="hour>0" class="medium">h</span>
                  <span *ngIf="minute>0" class="large">  {{minute}}</span>
                  <span *ngIf="minute>0" class="medium">m</span>
                  <span class="large">{{second}}</span>
                  <span class="small" *ngIf="millisecond<10">0</span>
                  <span class="small">   {{millisecond}}</span>
                  <span class="medium">s</span>
                </div>
              </div>
            </div>
            <div
              class="space d-flex justify-content-center align-items-center bg-light"
              *ngIf="!isTheTestOver">
              <div class="word d-flex justify-content-center align-items-center bg-secondary text-white">
                <h2 *ngIf="randomElement">
                  {{randomElement.word}}
                  <i class="fa fa-question"></i>
                </h2>
              </div>
            </div>
            <div *ngIf="!isTheTestOver"
                 class="space d-flex justify-content-around align-items-center bg-light">
              <a class="answers btn btn-dark text-white text-center"
                 *ngFor="let translation of listOfThreeTranslationsTest; let i = index;"
                 (click)="isAnswerCorrect(translation)">
                <dt>
                  {{translation}}
                </dt>
              </a>
            </div>
            <div class="d-flex justify-content-center align-self-center" *ngIf="isTheTestOver">
              <h1>
                <dt>Finish</dt>
              </h1>
            </div>
            <div class="mt-4 d-flex justify-content-center text-white" *ngIf="isTheTestOver">
              <a class="btn btn-primary">
                <h1 (click)="onStartTest(); onTryAgain();resetStopWatch(); onStartStopWatch()">TRY AGAIN ?</h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Modals-->
<div class="modal fade" id="test_result">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Result</h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-between">
        <i class="results fa fa-check"> Correct Answers: {{correctAnswers}} </i>
        <i class="results fa fa-clock-o">
          Time:
            <span *ngIf="hour>0" class="large">{{hour}}</span>
            <span *ngIf="hour>0" class="medium">h</span>
            <span *ngIf="minute>0" class="large">  {{minute}}</span>
            <span *ngIf="minute>0" class="medium">m</span>
            <span class="large">{{second}}</span>
            <span class="small" *ngIf="millisecond<10">0</span>
            <span class="small">{{millisecond}}</span>
            <span class="medium">s</span>
        </i>
        <i class="results fa fa-trophy"> Ranking: {{placeInRanking}}</i>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="submit" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>



